@model NetflixCocktails.Models.RandomMovieCocktail

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <br />
    <br />
    <a class="text-info" onclick="history.back()">Go back</a>
    <br />
    <br />

    <h1>
        @Html.DisplayFor(modelItem => Model.name)
    </h1>
    <br />
    @Html.DisplayFor(modelItem => Model.overview)
    <br />
    <br />

</div>

<table class="table">
    <tbody>

        <tr>
            <th>
                Genre:
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.genre)
            </td>

        </tr>

        <tr>
            <th>
                Release year:
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.releaseYear)

            </td>

        </tr>

        <tr>
            <th>
                Runtime:
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.runtime)
            </td>
        </tr>

        <tr>
            <th>
                Imdb rating:
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.imdbRating)
            </td>

        </tr>

        <tr>
            <th>
                Director:
            </th>
            <td>
                @Html.DisplayFor(modelItem => Model.director)
            </td>

        </tr>

  

    </tbody>
</table>

